/* header */

.site-header {
    background-color: #469dff;
    background-image: url(../img/pattern.png);
}
 
#logo {
    height: 200px;
    width: 200px;
}

/* main */

.artinfo {
    color: #adadad;
}

.link {
    text-decoration: none;
    color: #149ee6;
}
.highlight {
    background-color: yellow;
}