/* header */

.site-header {
    background-color: #469dff;
    background-image: url(../img/pattern.png);
}
 
#logo {
    height: 200px;
    width: 200px;
}

/* main */

.artinfo {
    color: #adadad;
}

.link {
    text-decoration: none;
    color: #149ee6;
}
.highlight {
    background-color: yellow;
}

thead {
    background-color: #469dff;
}

.colorbg {
    background-color: #abe0f3;
}

/* Footer */

h2 {
    color: grey;
    font-size: 18px;
}

.art1 {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-bottom: 20%;
    padding-left: 0%;
    padding-right: 2%;
    max-width: 250px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

.art2 {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-bottom: 20%;
    padding-left: 0%;
    padding-right: 2%;
    max-width: 250px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}